/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	border: none
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
@font-face {
	font-family: Figtree;
	src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
	--color-60: #121212;
	--color-30: #ffffff;
	--color-10: #ff34a2;
	--color-sub: #e5e7eb;
	--color-button: #ffffff4d;
	/* --grey-sub: #edededcc;
	--grey-sub2: #fffc; */
	--font: 'Figtree', sans-serif
}


/****************/
/* JOUW STYLING */
/****************/

* {
	font-family: var(--font);
	color: var(--color-30);
	font-size: 1em;
}

body {
	background-color: var(--color-60);
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

header {
	width: 100vw;
	height: 4em;
	background-color: #0a0a0a99;
	padding: 1em;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header>a {
	font-weight: 600;
	/* font-size: 14px; */
	border: 2px solid var(--color-button);
	padding: .5em 1.5em;
	border-radius: 10em;
}

header>section {
	display: flex;
}

header>section>button {
	display: flex;
	justify-content: center;
	align-items: center;
}

header>section>button:nth-of-type(1) {
	padding: 1em 0;
}

header>section>button:nth-of-type(2) {
	padding: 1em;
}

header>section>button>img {
	width: 1.5em;
}

header>img {
	width: 6em;
}

main>section:nth-of-type(1) {
	width: 100%;
	height: 7em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

main>section:nth-of-type(2) {
	position: relative;
	height: 36em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

main>section:nth-of-type(2)>ul:nth-of-type(1)>li {
	position: relative;
	background-color: black;
	width: 90vw;
	border-radius: 1em;
	height: 30em;
	margin-left: 5vw;
	display: flex;
	align-items: end;
	overflow: hidden;
	/* flex-direction: column; */
	/* padding: 2.5em; */
}

main>section:nth-of-type(2)>ul:nth-of-type(1)>li>video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

main>section:nth-of-type(2)>ul:nth-of-type(1)>li>section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2.5em;
	z-index: 1;
}

main>section:nth-of-type(2)>ul:nth-of-type(1)>li>section>label {
	border-radius: 1em;
	border: 2px solid var(--color-30);
	padding: .5em 1em;
	margin-top: auto;
}

main>section:nth-of-type(2)>ul:nth-of-type(1)>li>section>p {
	text-align: center;
	margin: 1em 0;
}

main>section:nth-of-type(2)>ul:nth-of-type(1)>li>section>a {
	background-color: var(--color-30);
	padding: 1em 1.5em;
	border-radius: 10em;
	color: var(--color-60);
	font-weight: 600;
}

main>section:nth-of-type(2)>ul:nth-of-type(2)>li {
	/* display: inline-block; */
	display: flex;
	padding: 2em .2em 0 .2em;

}

main>section:nth-of-type(2)>ul:nth-of-type(2) button {
	width: .5em;
	height: .5em;
	border-radius: 100%;
	background-color: #fff3;
}

main>section:nth-of-type(2)>ul:nth-of-type(2)>li:nth-of-type(1)>button {
	background-color: var(--color-10);
}

main>section:nth-of-type(2)>ul:nth-of-type(2) {
	width: 100%;
	display: flex;
	justify-content: center;
}

main>section:nth-of-type(2)>div {
	position: absolute;
	background: radial-gradient(var(--color-10), transparent 50%);
	width: 250vw;
	height: 200vh;
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
	z-index: -1;
}

main>section:nth-of-type(3)>section {
	display: flex;
	padding: 2em 1em;
	justify-content: space-between;
	align-items: center;
}

main>section:nth-of-type(3)>section>h3 {
	font-size: 1.2em;
	font-weight: 600;
}

main>section:nth-of-type(3)>section>a {
	display: flex;
	border: 2px solid var(--color-button);
	padding: .5em 1.5em;
	border-radius: 10em;
	align-items: center;
}

main>section:nth-of-type(3)>section>a>img {
	margin-right: .5em;
}

main>section:nth-of-type(3)>ul>li {
	position: relative;
	background-color: black;
	width: 50vw;
	margin-left: 25vw;
	border-radius: 1em;
	overflow: hidden;
}

main>section:nth-of-type(3)>ul>li>img {
	object-fit: cover;
	width: 100%;
}

main>section:nth-of-type(3)>ul>li>section {
	padding: 1.5em;
	height: 6em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main>section:nth-of-type(3)>ul>li>section>h4 {
	font-weight: 600;
	width: 100%;
	/* text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 1.2; */
}

main>section:nth-of-type(3)>ul>li>section>section>section>img {
	width: 1.2em;
	margin-right: .5em;
}

main>section:nth-of-type(3)>ul>li>section>section>section>p {
	color: var(--color-sub);
}

main>section:nth-of-type(3)>ul>li>section>section>section {
	display: flex;
	align-items: center;
}

main>section:nth-of-type(3)>ul>li>section>section>p {
	background-color: var(--color-60);
	padding: .8em;
	font-size: .8em;
	border-radius: .5em;
	color: var(--color-sub);
}

main>section:nth-of-type(3)>ul>li>section>section {
	display: flex;
	justify-content: space-between;
}